/** Common */
body {
  background-color: #f1ffff;
}
button {
  background-color: #2196F3;
  color: white;
  min-width: 85px;
}
.container {
  margin: 20px 40px;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.clickable {
  cursor: pointer;
}
.red {
  background-color: #E91E63;
}
.green {
  background-color: #00BCD4;
}
.grey {
  background-color: #607D8B;
}
/** Common parts */
.arrow_down {
  transform: rotate( 180deg );
  width: 20px;
}
.input_area {
  position: relative;
  text-align: right;
  display: grid;
  grid-template-columns: 45% 10% 40%;
  grid-column-gap: 5%
  /* border: 1px solid black; */
}

.task_item {
  align-items: center;
}

@media screen and (max-width: 38em) {
  .container {
    margin: 5px 20px;
  }
  .input_area {
    position: relative;
    text-align: right;
    display: grid;
    grid-template-columns: 100%;
    /* border: 1px solid black; */
  }
}